/* -----RESET DO CSS----- */
*{
    border: 0; /*Borda do elemento --> Zeramos*/
    margin: 0; /*Distância externa --> Zeramos*/
    padding: 0; /*Espaçamento interno --> Zeramos*/
    box-sizing: 0; /*Respeitar largura e altura*/
}

/* -----VARIÁVEIS CSS----- */

:root{
    
/* -----CORES----- */
--color-blue: #1090CD; /*Variável de cor*/
--color-blue-10: #1090CB1a; /*Variável de cor*/
--color-white: #FFFFFF; /*Variável de cor*/
--color-black: #000000; /*Variável de cor*/
--color-gray: #5C5C5C; /*Variável de cor*/
--color-gray-2: #969696; /*Variável de cor*/
--color-gray-3: #C4C4C4; /*Variável de cor*/

/* -----FONTES----- */
/* --SIZE-- */
--font-size-h1: 35px; /*Variável Tamanho da fonte*/
--font-size-h2: 30px; /*Variável Tamanho da fonte*/
--font-size-h3: 25px; /*Variável Tamanho da fonte*/
--font-size-h4: 18px; /*Variável Tamanho da fonte*/
--font-size-body: 16px; /*Variável Tamanho da fonte*/
--font-size-button: 16px; /*Variável Tamanho da fonte*/
--font-size-caption:14px; /*Variável Tamanho da fonte*/

/*Weight  */
--font-weigth-h1: 600; /*Variável Espressura da fonte*/
--font-weigth-h2: 600; /*Variável Espressura da fonte*/
--font-weigth-h3: 600; /*Variável Espressura da fonte*/
--font-weigth-h4: 500; /*Variável Espressura da fonte*/
--font-weigth-body: 400; /*Variável Espressura da fonte*/
--font-weigth-button: 700; /*Variável Espressura da fonte*/
--font-weigth-caption: 400; /*Variável Espressura da fonte*/

/*FAMILY*/
--font-family-primary: "Poppins", sans-serif; /*Variável família da fonte */
}